﻿@model IEnumerable<IdeasBoard.ViewModels.UserRoleViewModel>

@{
    ViewBag.Title = "User list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-body">
          @if (User.Identity.IsAuthenticated)
          {
              if (User.IsInRole("Owner"))
              {
                  @Html.ActionLink("Add new user", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
                  <hr />
              }
          }
            <table class="table table-hover table-bordered table-condensed" id="users_table" style="width:100%">
                <thead>
                    <tr>
                        @foreach (string columName in ViewBag.UserColumns)
                        {
                            <td><b>@columName</b></td>
                        }
                    </tr>
                </thead>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@user.Role</td>

                    </tr>
                }
            </table>
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            $('#users_table').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}


