﻿@using IdeasBoard.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ideas board | Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/css/login")  
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Welcome to Ideas Board</h5>
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-singin", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-label-group">                         
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" , @class = "form-control" })
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-label-group">                            
                            @Html.PasswordFor(m => m.Password, new {placeholder = "Password", @class = "form-control" })
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="checkbox custom-control custom-checkbox mb-2" >                           
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })
                        </div>
                            <button class="btn btn-lg btn-primary btn-block " type="submit">Log in</button>
                            <hr class="my-4">                           
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>                            
                          }
                    </div>                            
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/js/login")
</body>
</html>
    