root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

body {
    background: #e4e1dd;
    background: linear-gradient(to right, #e4e1dd, #fffbf4);
}

.mt-5, .my-5 {
    margin-top: 10rem !important;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

    .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
    }

    .card-signin .card-body {
        padding: 2rem;
    }

.form-signin {
    width: 100%;
}

.btn-lg, .btn-group-lg > .btn {
    border-radius: .8rem;
    letter-spacing: .1rem;
    font-weight: bold;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

    .form-label-group input {
        height: 3.2rem;
        border-radius: .8rem;
    }

    .form-label-group > input,
    .form-label-group > label {
        padding: .75rem .75rem;        
    }

    .form-label-group > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-moz-placeholder {
        color: transparent;
    }

    .form-label-group input::placeholder {
        color: transparent;
    }

    .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(0.75rem + 0.75rem * (2 / 3));
        padding-bottom: calc(0.75rem / 3);
    }

    .form-label-group input:not(:placeholder-shown) ~ label {
        padding-top: calc(0.75rem / 3);
        padding-bottom: calc(0.75rem / 3);
        font-size: 15px;
        color: #777;
    }

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}
