﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 380px;
}*/

.navbar-light .navbar-nav .nav-link
{
    color: #EB6864;
}

.dropdown-item {
    padding: 0.2rem 1rem;
    color: #EB6864;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #e22620;
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: #EB6864;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #EB6864;
}


/*Gallery*/

.idea-gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.idea-gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

.idea-gallery {
    padding: 40px;
}

.idea-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.idea-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.idea-gallery .lightbox img {
    border-radius: 4px 4px 0 0;
}

.idea-gallery .caption {
    padding: 6px 10px;
    text-align: center;
}

.idea-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.idea-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.idea-box {
    position: relative;
    display: inline-block; 
}

.idea-box .idea-text {
    font-family: 'Indie Flower', cursive;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    width: 60%;
}

.text-color {
    color: #EB6864;
}

.green{
    color: green !important;
}
.red{
    color: red !important;
}

.img-size {
    max-width: 200px;
    max-height: 200px;
}