﻿@model IdeasBoard.Models.UserManageViewModel
@{
    ViewBag.Title = "Manage";
}

<h2 class="mt-2">Account settings</h2>

<div class="container">
    <div class="row flex-lg-nowrap">
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                @using (Html.BeginForm("UserManage", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <hr />
                                    @Html.ValidationSummary("", new { @class = "text-danger" })

                                    <div class="row">
                                        <div class="col-12 col-sm-auto mb-3">
                                            <div class="mx-auto">
                                                <div class="d-flex justify-content-center align-items-center rounded">
                                                    @if (Model.ProfileImagePath != null)
                                                    {
                                                        <img id="profile-img" class="img-fluid img-thumbnail img-size" src="@Model.ProfileImagePath" alt="5">
                                                    }
                                                    else
                                                    {
                                                        <img id="profile-img" class="img-fluid img-thumbnail img-size" src="/Content/Images/default-profile.png" alt="5">
                                                    }
                                                </div>
                                                <div align="center" class="mt-2">
                                                    <label class="btn btn-primary btn-block">
                                                        <span>Change Photo</span>
                                                        <input type="file" name="@Html.DisplayNameFor(m => m.ProfileImage)" id=" @Html.DisplayNameFor(m => m.ProfileImage)" hidden />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">@Model.Name</h4>
                                                <p class="mb-0">@Model.Email</p>
                                                @*<div class="text-muted"><small>Last seen 2 hours ago</small></div>*@

                                            </div>
                                            <div class="text-center text-sm-right">
                                                <span class="badge badge-secondary">@Model.UserRole</span>
                                                <div class="text-muted"><small>Joined @Model.RegistredOn.ToString("dd/MMM/yyyy")</small></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-horizontal">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                                        </ul>
                                        <div class="tab-content pt-3">
                                            <div class="tab-pane active">                                             
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                                        <div class="col-md-4">
                                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                        </div>                                                              
                                                    </div>                                                   
                                                      
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label c" })
                                                        <div class="col-md-12">
                                                            @Html.TextAreaFor(model => model.Description, new { rows = "6", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                        </div>                                                                  
                                                    </div>                                             
                                                            <div class="form-group">
                                                            <div class="checkbox custom-control custom-checkbox mb-2">
                                                                @Html.CheckBoxFor(m => m.ShowEmail, new { @class = "custom-control-input" })
                                                                @Html.LabelFor(m => m.ShowEmail, new { @class = "custom-control-label" })
                                                            </div>
                                                        </div>
                                                    </div>
                                       </div>                                        
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a href="" class="active nav-link">Change Password</a></li>
                                        </ul>
                                            <div class="tab-content pt-3">
                                                <div class="tab-pane active">                                                     
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                                                        <div class="col-md-4">
                                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                                        </div>
                                                    </div>                                                       
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                                                        <div class="col-md-4">
                                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                                        </div>  
                                                    </div>                                                        
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                                                        <div class="col-md-4">
                                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                                        </div>                                                                           
                                                    </div>                                                          
                                                </div>
                                            </div>
                                            <div class="col d-flex justify-content-end">
                                                <button class="btn btn-primary" type="submit">Save Changes</button>
                                            </div> 
                                     </div>
                                 }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $('#ProfileImage').change(function (event) {
            $("#profile-img").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
        });
    </script>
}




@*<div class="row">
        <div class="col-xl-10 offset-xl-1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h2>Maria Williams</h2>
                        <p>I’m a digital designer in love with photography, painting and discovering new worlds and cultures.</p>
                    </div>
                    <div class="hero-info">
                        <h2>General Info</h2>
                        <ul>
                            <li><span>Date of Birth</span>Aug 25, 1988</li>
                            <li><span>Address</span>Rosia Road 55, Gibraltar, UK</li>
                            <li><span>E-mail</span>mariawilliams@company.com</li>
                            <li><span>Phone </span>+43 5266 22 345</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <figure class="hero-image">
                        <img class="img-fluid img-thumbnail" src="/Content/Images/default-profile.png" alt="5">
                    </figure>
                </div>
            </div>
        </div>
    </div>


    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h3>Account settings</h3>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-primary" })
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-primary" })
                }
            </dd>
            <dt>External Logins: @Model.Logins.Count</dt>
            <dd>
                @Html.ActionLink("Manage", "ManageLogins", null, new { @class = "btn btn-primary" })
            </dd>

            <!-- #region Extra Code -->
            @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
*@
@*
    <dt>Phone Number:</dt>
    <dd>
        @(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
        }
        else
        {
            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
        }
    </dd>
*@
@* <dt>Two-Factor Authentication:</dt>
    <dd>
        <p>
            There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication.
        </p>
       @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }
    </dd>*@
<!-- #endregion -->
@*</dl>
    </div>*@

