﻿@model IdeasBoard.ViewModels.IdeaViewModel

@{
    ViewBag.Title = "Create new Idea";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <div class="row">
        <div class="col-sm">
             <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-sm">
            <h2 align="right">@Html.ActionLink("Back to Idea board", "Index", "Ideas", null, new { @class = "btn btn-primary" })</h2>
        </div>    
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Supplies, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-12">
            @Html.TextAreaFor(model => model.Supplies, new { cols = "40", rows = "2" , @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Supplies, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-12">
            @Html.TextAreaFor(model => model.Description, new { cols = "40", rows = "6" , @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" value="Create" class="col-md-4 btn btn-primary" />
        </div>
    </div>

</div>
}

