﻿@model IdeasBoard.ViewModels.IdeaDetailsViewModel

@{
    ViewBag.Title = "Delete idea";
}

<h3>Are you sure you want to delete <b class="red">@Html.DisplayFor(model => model.Name)</b>?</h3>
<p>Created by: @Html.DisplayFor(model => model.OwnerName) </p> 


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </div>
}

