﻿@using System.Linq
@model IdeasBoard.ViewModels.IdeaDetailsViewModel

@{
    ViewBag.Title = "Idea details";
}


<div class="row">
    <div class="col-sm">
        <h2 align="right">@Html.ActionLink("Back to Ideas", "Index", "Ideas", null, new { @class = "btn btn-primary" })</h2>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Users who voated</span>
            <span class="badge badge-secondary badge-pill">@Html.DisplayFor(model => model.VoteCount)</span>
        </h4>
        @if (Model.UsersWhoVoted.Any())
        {
            <div id="users">
                <ul class="list list-group mb-3">
                    @foreach (var user in Model.UsersWhoVoted)
                    {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@user.UserName</h6>
                            <small class="text-muted">@user.VotedOn</small>
                        </div>
                    </li>
                    }
                </ul>
                <ul class="pagination"></ul>
            </div>
        }
        else
        {
            <ul class="list list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="Name my-0">Nobbody voted yet!</h6>
                    </div>
                </li>
            </ul>
        }
    </div>
    <div class="col-md-8 order-md-1">
        <div class="card">
            <div class="card-header text-center">
                <h3>@Html.DisplayFor(model => model.Name)</h3>
                @if (Model.ApprovedAt != null)
                {
                    <h5 class="green mb-0">approved!</h5>
                }
                else
                {
                    <h5 class="red mb-0">not approved yet!</h5>
                }
            </div>
            <div class="card-body">
                <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
                <hr />
                <h6 class="card-text">Needed:  @Html.DisplayFor(model => model.Supplies)</h6>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col-sm">
                        <p class="mb-0">Created by: <b>@Html.DisplayFor(model => model.OwnerName)</b></p>
                    </div>
                    <div class="col-sm">
                        <p align="right" class="mb-0">@Html.DisplayFor(model => model.CreatedAt)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ml-auto mt-2 col-sm-4">
                @Html.ActionLink("Vote", "Vote", "Ideas", new { id = Model.IdeaID }, new { @class = "btn btn-success btn-block" })
            </div>
        </div>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Owner"))
    {
        <hr />      
        <div class="row">
            <div class="mt-2 col-sm-2">
                @Html.ActionLink("Approve", "Approve", "Ideas", new { id =Model.IdeaID}, new { @class = "btn btn-success btn-block" })
            </div>
            <div class="mt-2 col-sm-2">
                @Html.ActionLink("Delete", "Delete", "Ideas", new { id = Model.IdeaID }, new { @class = "btn btn-primary btn-block" })
            </div>
        </div>
    }
}



@section Scripts {
    @Scripts.Render("~/Scripts/List.js");
    <script>
        var options = {
            valueNames: [
                'Name',
                'Datetime'
            ],
            page: 5,
            pagination: true
        };
        var userList = new List('users', options);
    </script>
}
