﻿@using System.Linq
@model IEnumerable<IdeasBoard.Models.Idea>

@{
    ViewBag.Title = "Ideas board";
}

<div class="row">
    <div class="col-sm">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-sm">
        <h2 align="right">@Html.ActionLink("Create your Idea", "Create", "Ideas", null, new { @class = "btn btn-primary" })</h2>
    </div>
</div>
<hr>

<div class="container idea-gallery-container">
    <div class="idea-gallery">
        <div class="row">
            @if (Model.Any())
            {
                foreach (var idea in Model)
                {
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="idea-box">
                                <a class="lightbox" href="@Url.Action("Details", "Ideas", new { id = idea.IdeaID })">
                                    <img class="img-fluid" src="~/Content/Images/Notes_@(idea.ImageIndex).png" alt="">
                                </a>
                                <h3 class="idea-text">@idea.Name</h3>
                            </div>
                            <div class="caption">
                                @if (idea.Description.Length > 50)
                                {
                                    <p>@(idea.Description.Substring(0, 50))...</p>
                                }
                                else
                                {
                                    <p>@idea.Description</p>
                                }
                                <h3 class="text-color">Votes: <b>@idea.Votes.Count()</b></h3>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-sm">
                    <h3 align="center" class="text-color">There's no single idea!</h3>
                </div>
            }
        </div>
    </div>
</div>

