﻿@model IdeasBoard.ViewModels.VoteViewModel

@{
    ViewBag.Title = "Vote";
}

<div class="row">
    <div class="col-sm">
        <h2 align="right">@Html.ActionLink("Back to Ideas", "Index", "Ideas", null, new { @class = "btn btn-primary" })</h2>
    </div>
</div>
<hr />

@if (Model.Voted)
{
    <h4>You aleready voated for the idea <b class="red">@Html.DisplayFor(model => model.Name)</b>!</h4>
    <p>Created by: <b>@Html.DisplayFor(model => model.OwnerName)</b></p>
}
else
{
    <h4>Are you sure you want to vote for the idea <b class="red">@Html.DisplayFor(model => model.Name)</b>?</h4>
     <p>Created by: <b>@Html.DisplayFor(model => model.OwnerName)</b></p>

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Vote" class="col-md-1 btn btn-success" />
        </div>
    }

}



